<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add
			name ="MainDataBase"
			connectionString ="Provider=Microsoft.Jet.OleDB.4.0;Data Source=C:\\MyFiles\\adProjectsValidation.mdb;"/>
		<add
			name ="ProjectDataBaseFirstPart"
			connectionString ="Provider=Microsoft.Jet.OleDB.4.0;Data Source="/>
		<add
			name ="ProjectDataBaseSecondPart"
			connectionString =";"/>
	</connectionStrings>
</configuration>